@font-face {
  font-family: '_ubuntu_';
  src: url('../fonts/ubuntu_light.woff2?v=1_0') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: '_ubuntu_';
  src: url('../fonts/ubuntu_regular.woff2?v=1_0') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: '_ubuntu_';
  src: url('../fonts/ubuntu_medium.woff2?v=1_0') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: '_ubuntu_';
  src: url('../fonts/ubuntu_bold.woff2?v=1_0') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_thin.woff2?v=1_0') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_extralight.woff2?v=1_0') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_light.woff2?v=1_0') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_regular.woff2?v=1_0') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_medium.woff2?v=1_0') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_semibold.woff2?v=1_0') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_bold.woff2?v=1_0') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_extrabold.woff2?v=1_0') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: '_montserrat_';
  src: url('../fonts/montserrat_black.woff2?v=1_0') format('woff2');
  font-weight: 900;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: '_ubuntu_';
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 20px auto;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.specials {
  font-weight: bold;
}
.lesson {
  padding: 0;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
}
.lesson:first-child {
  margin: 0;
}
.lesson-header {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.lesson-content {
  text-align: justify;
  line-height: 150%;
}
.lesson-task {
  display: flex;
  border: 1px solid lightblue;
  padding: 10px;
  margin: 5px 0;
}
.lesson-task-question {
  font-family: '_montserrat_';
  text-align: left;
  line-height: 150%;
  border-right: 1px solid lightblue;
  padding: 0 10px 0 0;
  min-width: 260px;
  max-width: 30%;
}
.lesson-task-answers {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lesson-script-run {
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  padding: 8px;
}
.action-button {
  background: lightskyblue;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 4px;
  transition: 0.3s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-button:hover {
  opacity: 0.7;
}
.action-button:active {
  color: black;
}
